---
import { FormatDate } from '@utils/date-utils.ts'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
	post: CollectionEntry<'blog'>
}
const { post } = Astro.props
const frontmatter = post.data
console.log(frontmatter)

const { title, date, image } = frontmatter
---

<div class='lg:flex'>
	<Image
		class='object-cover w-full h-56 rounded-lg lg:w-64'
		src={image}
		alt={title}
		width={500}
		height={500}
		quality={'low'}
		loading='lazy'
		transition:name={`${post.slug}-image`}
	/>

	<div class='flex flex-col justify-between py-6 lg:mx-6'>
		<a href={`posts/${post.slug}`} class='text-xl font-semibold hover:underline text-white'>
			{title}
		</a>

		<span class='text-sm text-gray-300'>On: {FormatDate.format(date)}</span>
	</div>
</div>
