---
import '@styles/global.css'
import Layout from '../layouts/Layout.astro'
import PostItem from '@components/PostItem.astro'
import { siteConfig } from 'config/site-config'

//const posts = await Astro.glob('./posts/*.{md,mdx}')
// Define the type for your post frontmatter
type Post = {
	title: string
	date: string
	image?: string
	path?: string
	[key: string]: any
}

const posts: Post[] = Object.values(import.meta.glob<Post>('../pages/posts/*.{md,mdx}', { eager: true }))
// const postsData = Object.entries(posts).map(([{ frontmatter }]) => ({
// 	...frontmatter
// }))
---

<Layout title='mi blog'>
	<!-- component -->
	<section class='bg-gray-900'>
		<div class='container px-6 py-10 mx-auto'>
			<h1 class='text-3xl font-semiboldcapitalize lg:text-4xl text-white'>{siteConfig.title}</h1>

			<div class='grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2'>
				{
					posts.map(post => (
						//<PostItem title={post.title} date={post.date} image={post.image} link={`/posts/${post.path}`} />
						<PostItem {...post} />
					))
				}
			</div>
		</div>
	</section>
</Layout>
